* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code';
}

.room {
    background-color: rgb(39, 33, 33);
    width: 100%;
    height: 100vh;
}

.middleContent {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sharedScreen {
    width: 80%;
    color: rgb(112, 112, 112);
    font-size: 2.2em;
    text-align: center;
}

.messagesPanel {
    position: absolute;
    right: 10px;
    display: block;
    width: 20%;
    height: 90%;
    margin-bottom: 20px;
    color: rgb(112, 112, 112);
    background-color: white;
    border-radius: 15%;
    transition: all 1s ease 0s;
}

.messagesPanel .messagesHeader {
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.messagesPanel .messages {
    position: relative;
    margin-top: 30px;
    height: 85%;
    overflow-y: auto;
}

.messagesPanel .messages > ul {
    margin-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
}

.messagesPanel .messages > ul > li {
    display: flex;
    margin-top: -20px;
}

.messagesPanel .messages > ul > li > p {
    background-color: rgb(99, 93, 93);
    color: white;
    text-align: right;
    font-size: 0.9em;
    border-radius: 10px;
    padding: 2px 10px;
    text-align: justify;
    direction: ltr;
}

.messagesPanel .messages > ul > li > span {
    display: inline;
    color: rgb(112, 112, 112);
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
    border-radius: 10px;
}

.messagesPanel .typeBox {
    position: absolute;
    display: flex;
    width: 90%;
    height: 10%;
    bottom: 20px;
    right: 15px;
}

.messagesPanel .typeBox > input[type=text] {
    width: 90%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(112, 112, 112);
    border-image: initial;
    border-radius: 20px;
    padding: 12px 10px;
}

.messagesPanel .typeBox > input[type=submit] {
    width: 20%;
    height: 100%;
    background-image: url(/icon/send.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(112, 112, 112);
    border-image: initial;
    border-radius: 50px;
    padding: 20px;
    margin-left: 8px;
}

/* Users */

.users {
    position: absolute;
    width: 95%;
    height: 20%;
    bottom: 75px;
    margin: auto;
}

.users .boxes {
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

.users .boxes > ul {
    display: grid;
    grid-template-columns: repeat(150, 1fr);
    list-style: none;
    gap: 30px;
}

.users .boxes > ul > li {
    position: relative;
    background-color: rgb(20, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 90px;
}

.users .boxes > ul > li .circle {
    position: absolute;
    display: flex;
    text-align: center;
}

.users .boxes > ul > li > .circle > img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.users .boxes > ul > li > p {
    position: absolute;
    bottom: -6%;
    left: 7%;
    color: white;
    font-size: 12px;
}


.underline {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 10px;
    bottom: 75px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(112, 112, 112);
    border-image: initial;
}

/* footerPanel */

.footerPanel {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.footerPanel >p {
    justify-content: left;
    flex-grow: 1;
    color: white;
}

.CenterMenu {
    flex-grow: 3;
}

.RightMenu {
    flex-grow: 1;
}

.CenterMenu >ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CenterMenu >ul >li >img {
    width: 20px;
    height: 20px;
    border-radius: 10%;
}

.CenterMenu >ul >li {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
}

.RightMenu >ul {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

.RightMenu >ul >li >img {
    width: 20px;
    height: 20px;
}

.RightMenu >ul >li {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 50%;
}

/* icon image */

.IconUser {
    position: absolute;
    right: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.IconUser >img {
    width: 15px;
    height: 15px;
    border-radius: 10%;
    margin: 25%;
}