    .privateMessagesPanel {
        position: absolute;
        right: 10px;
        display: block;
        width: 20%;
        height: 95%;
        /* margin-bottom: 20px; */
        color: rgb(112, 112, 112);
        background-color: #e2edff;
        border-radius: 10%;
        display: flex;
        flex-flow: column;
        /* transition: all ease-in-out 1.5s; */
        text-align: center;
    }
  
    .private-messagesHeader {
        height: 3%;
        font-size: 20px;
        text-align: center;
    }
    
    /* show-persons */

    .show-persons {
        overflow-y: auto;
        /* overflow-x: hidden; */
        margin-top: 1%;
        height: 82%;
        width: 100%;
    }
    
    .show-persons > ul {
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: space-around;
        align-items: stretch;
        padding-left: 10%;
        padding-right: 10%;
        list-style: none;
    }

    .show-persons > ul > li {
        display: flex;
        margin-top: 10px;
        flex-flow: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border: 1px dashed #140E0E;
        /* margin-right: 20px; */
        border-radius: 8px;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }
    
    .show-persons > ul > li:hover {
        background-color: #b4b0b0;
    }
    
    .show-persons > ul > li > img {
        width:50px ;
        height: 50px;
        border-radius: 50%;
    }
    
    .show-persons > ul > li > h4 {
        color: #140E0E;
        /* Main color => color: rgb(112, 112, 112); */
    }
    
    .show-persons > ul > li > span {
        color: white;
        border: 1px solid red;
        border-radius:50% ;
        padding: 0 5px;
        background-color: red;
        transition: all ease-in-out 0.2s;
    }
    
    .show-persons > ul > li > span:hover {
        background-color: purple;
        color: black;
        border-color: purple;
    }

    /* MessagesPanel */
    
    .privateMessagesPanel .chat-page {
        /* margin-top: 10px; */
        position: relative;
        height: 76%;
    }
    
    .chat-messages {
        position: relative;
        overflow-y: auto;
        height: 85%;
        display: flex;
        flex-flow: column;
        /* margin-top: -20px; */
    }
    
    .chat-messages > p {
        border-radius: 20px;
        color: white;
        font-size: 0.9em;
        padding: 2px 10px;
        text-align: justify;
        direction: ltr;
        max-width: 90%;
    }
    
    .chat-messages > .chat-messages-me {
        text-align: right;
        background-color: #5349f8;    
        /* background-color: purple; */
        border-radius: 10px 10px 0 10px ;
        margin:5px 2px 0 auto;
    }
    
    .chat-messages > .chat-messages-other {
        text-align: left;
        margin:8px auto 0 2px;  
        /* background-color: #9976bd; */
        background-color: #707070;
        border-radius: 10px 10px 10px 0 ;
    }
    
    .title-chat-page {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10%;
        margin-top: 2%;
    }
    
    .title-chat-page > .return-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c0bebe;
        border-radius: 50%;
        padding: 5px;
        font-size: 20px;
        transition: all ease-in-out 0.2s;
    }
    
    .title-chat-page > .return-arrow:hover {
        background-color: #707070;
        color: white;
    }

    /* typeBox */

    .privateMessagesPanel .typeBox {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        height: 12%;
    }
    
    .privateMessagesPanel .typeBox input[type=text]{
        width: 85%;
        padding: 15px;
        border: none;
        border-radius: 15px 0 0 15px;
        background-color: #707070;
        color: white;
    }
    
    .privateMessagesPanel .typeBox input[type=text]:focus {
        /* background-color: #ddd; */
        outline: none;
        opacity: 0.8;
    }
    
    .privateMessagesPanel .typeBox .sumbit-btn {
        color: white;
        background-color: #707070;
        width: 15%;
        height: 100%;
        border: none;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        font-size: 150%;
        text-align: center;
        transition: all ease-in-out 0.2s;
    }

    .privateMessagesPanel .typeBox .sumbit-btn .submit-icon {
        margin-top: 8%;
    }
    
    .privateMessagesPanel .typeBox .sumbit-btn:hover {
        opacity: 0.8;
    }

    ::placeholder {
        color:white;
    }