  /* SurveyPanel */

  .form-popup {
    display: block;
    position: fixed;
    top: 100px;
    right: 40%;
    border: 3px solid black;
    z-index: 9;
    width: 20%;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 100%;
    padding: 10px;
    background-color: #e5ede8;
  }

  .option > ul {
    display: flex;
    flex-flow: column;
    color: #212121;
    padding-left: 1%;
    padding-right: 1%;
    list-style: none;
  }

  .option > ul > li {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: #c6dbce;
    cursor: pointer;
    transition:all ease-in-out 0.2s;
  }

  .option > ul > li:hover {
    background-color: #84b898;
    cursor: pointer;
  }

  /* Set a style for the submit/login button */
  .form-container .sumbit-btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

   /* Add some hover effects to buttons */
  .form-container .sumbit-btn:hover {
    opacity: 1;
    border-radius: 15px;
  }

  .form-container >p{
    width: 100%;
    font-size: 0.9em;
  }